.wrapper {
  display: flex;
  flex: 1;
}

.container {
  height: 100%;
  width: 62rem;
  max-width: 99.2%;

  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding: 2rem 2.5rem;
}

.container main h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 2.875rem;
  color: var(--title);
}

.sectionContainer ul {
  width: 100%;

  margin-top: 2.5rem;

  list-style: none;
}

.sectionContainer ul li:first-child {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.0625rem;

  text-transform: uppercase;
  text-align: left;

  color: var(--text);
  opacity: 0.5;

  background: transparent;
}

.sectionContainer ul li {
  display: grid;
  grid-template-columns: minmax(63px, 0.5fr) 3fr 1.5fr 1fr;
}

.sectionContainer ul li:first-child span:nth-child(2) {
  margin-left: 1.5rem;
}

.sectionContainer ul li + li {
  margin-top: 0.5rem;
}

.sectionContainer ul li > div {
  display: flex;
  align-items: center;

  height: 6rem;

  background: var(--white);

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: var(--text);
}

.sectionContainer ul li div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.8125rem;

  border-radius: 0.3rem 0 0 0.3rem;
  margin-right: 0.25rem;
}

.sectionContainer ul li div:last-child {
  border-radius: 0 0.3rem 0.3rem 0;
}

.sectionContainer ul li div > img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;

  margin-right: 1rem;
}

.sectionContainer ul li div > strong {
  color: var(--blue);
}

.sectionContainer ul li div.profileData {
  display: flex;

  padding: 1rem 1.5rem;
}

.sectionContainer ul li div.profileData div {
  display: flex;
  flex-direction: column;
}
.sectionContainer ul li div.profileData div strong {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: var(--title);

  margin-bottom: 0.5rem;

  white-space: nowrap;
  overflow: hidden;

  text-overflow: ellipsis;
}

.sectionContainer ul li div.profileData div small {
  display: flex;
  align-items: center;

  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.1875rem;
}

.sectionContainer ul li div.profileData div small > img {
  width: 0.875rem;
  height: 1rem;

  margin-right: 0.5rem;
}

@media (max-width: 1280px) {
  .container {
    padding-left: 10rem;
  }
}

@media (max-width: 940px) {
  .wrapper {
    flex-direction: column;
  }

  .container {
    padding-left: 2.5rem;
  }

  .sectionContainer ul li div.profileData div strong {
    max-inline-size: 15rem;
  }
}

@media (max-width: 782px) {
  .sectionContainer ul li div.profileData div strong {
    max-inline-size: 10rem;
  }
}

@media (max-width: 620px) {
  .sectionContainer ul li {
    display: flex;
    flex-direction: column;

    height: 100%;
  }

  .sectionContainer ul li div {
    max-height: 4rem;
    justify-content: center;

    align-self: stretch;
  }

  .sectionContainer ul li:first-child {
    display: none;
  }

  .sectionContainer ul li div:first-child {
    min-width: 4rem;

    margin-right: 0;

    border-radius: 0.3rem 0.3rem 0 0;
  }

  .sectionContainer ul li div:last-child {
    padding-right: 1.5rem;

    border-radius: 0 0 0.3rem 0.3rem;
  }

  .sectionContainer ul li div.profileData div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .sectionContainer ul li div.profileData div > strong {
    margin-bottom: 0;
    margin-right: 0.5rem;

    max-inline-size: 15rem;
  }
}

@media (max-width: 518px) {
  .sectionContainer ul li div > img {
    display: none;
  }

  .sectionContainer ul li div.profileData div > strong {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (max-width: 424px) {
  .sectionContainer ul li div.profileData div strong {
    max-inline-size: 10rem;
  }
}

@media (max-width: 350px) {
  .sectionContainer ul li div.profileData div strong {
    max-inline-size: 8rem;
  }
}
